<a href="https://colab.research.google.com/github/KaviyaGopi/ML-WORKSHOP/blob/main/ML_Workshop_(40110583_Kaviya_G)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GETTING THE DATA TYPE

In [1]:
x = 5
print(type(x))

<class 'int'>

In [2]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

CHECK STRING

In [3]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present in the txt.")
else:
  print("No , 'free is not present in the txt")

Yes, 'free' is present in the txt.

SLICING STRINGS

In [4]:
b = "Hello, World!"
print(b[:5])

Hello

FORMATING STRING

In [6]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

PROBLEMS 

1 . PRIME NUMBER

In [7]:
num=int(input("Enter the number : "))
if num > 1:
  for i in range(2,num):
    if (num % i) == 0:
      print(num, "is not a prime number")
      break
    else:
      print(num, "is a prime number")
      break

Enter the number : 12
12 is not a prime number

2 . FACTORIAL

In [8]:
a= int(input("Enter a number: "))    
factorial = 1    
if a < 0:    
   print(" Factorial does not exist")    
elif a == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,a + 1):    
       factorial = factorial*i    
   print("The factorial of",a,"is",factorial)

Enter a number: 12
The factorial of 12 is 479001600

3 . NPR

In [9]:
import math
def fact(n):
    if (n <= 1):
        return 1
         
    return n * fact(n - 1)
 
def nPr(n, r):
     
    return math.floor(fact(n) /
                fact(n - r))
     
n = 5
r = 2
 
print(n, "P", r, "=", nPr(n, r))

5 P 2 = 20

4 . SUM OF FIRST AND LAST DIGITS OF THE NUMBER

In [27]:
num = int(input("Enter the number : "))

count = 0
while num!=0:
    if count==0:
        last = num%10
        count = count+1
    rem = num%10
    num = int(num/10)

sum = rem + last
print("Sum of first and last digit =", sum)

Enter the number : 1234
Sum of first and last digit = 5

5 . PALINDROME

In [29]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:313
The number is a palindrome!

6 . NUMBER OF DIGITS

In [22]:
no=int(input("Enter the number : "))
count = 0

while no != 0:
    no //= 10
    count += 1

print("Number of digits: " + str(count))

Enter the number : 12344
Number of digits: 5

7 . ARMSTRONG NUMBER

In [24]:
number = int(input("Enter a number: "))

sum = 0
temp = number
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if number == sum:
   print(number,"is an Armstrong number")
else:
   print(number,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number