<a href="https://colab.research.google.com/github/KaviyaGopi/ML-WORKSHOP/blob/main/ML_Workshop_day_2_(40110583_Kaviya_G)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NUPPY USING PYTHON

In [ ]:
import numpy as np
li=np.array([[1,2,3],[4,5,6]]) 
print(li)

[[1 2 3]
 [4 5 6]]

In [ ]:
print(li.shape)

(2, 3)

In [ ]:
a = np.array([1,2,3,7])
b = np.array([4,5,6,4])
c = np.array([8,5,6,4])
abc = np.array([a,b,c])
print(abc)
print(abc.shape)
print(abc.size)

[[1 2 3 7]
 [4 5 6 4]
 [8 5 6 4]]
(3, 4)
12

In [ ]:
n=abc.reshape(2,6)
print(n)
print(n.shape)

[[1 2 3 7 4 5]
 [6 4 8 5 6 4]]
(2, 6)

In [ ]:
zeroarray = np.zeros((3,3))
print(zeroarray)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [ ]:
kaviya=abc<3
print(kaviya)

[[ True  True False False]
 [False False False False]
 [False False False False]]

In [ ]:
sat = np.where(abc>5,abc,5)
print(sat)

[[5 5 5 7]
 [5 5 6 5]
 [8 5 6 5]]

In [ ]:
print(a.cumsum())

[ 1  3  6 13]

In [ ]:
print(a.prod())

42

In [ ]:
print(a.cumprod())

[ 1  2  6 42]

In [ ]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

[ 5  7  9 11]
[-3 -3 -3  3]
[ 4 10 18 28]
[0.25 0.4  0.5  1.75]

PANDAS

In [4]:
import pandas as pd
rd=pd.read_csv(r"/content/diabetes.csv")
rd

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
rd.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
rd.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [7]:
print(rd.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [8]:
print(rd.values)

[[  6.    148.     72.    ...   0.627  50.      1.   ]
 [  1.     85.     66.    ...   0.351  31.      0.   ]
 [  8.    183.     64.    ...   0.672  32.      1.   ]
 ...
 [  5.    121.     72.    ...   0.245  30.      0.   ]
 [  1.    126.     60.    ...   0.349  47.      1.   ]
 [  1.     93.     70.    ...   0.315  23.      0.   ]]

In [9]:
print(type(rd))

<class 'pandas.core.frame.DataFrame'>

In [10]:
print(rd['Glucose'])

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

In [11]:
print(type(rd['Glucose']))

<class 'pandas.core.series.Series'>

In [12]:
print(rd.dtypes)

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [13]:
print(rd.shape)

(768, 9)

In [14]:
print(rd.size)

6912

In [15]:
print(len(rd))

768

In [16]:
print(rd.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

In [17]:
print(rd.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [18]:
print(rd.values)

[[  6.    148.     72.    ...   0.627  50.      1.   ]
 [  1.     85.     66.    ...   0.351  31.      0.   ]
 [  8.    183.     64.    ...   0.672  32.      1.   ]
 ...
 [  5.    121.     72.    ...   0.245  30.      0.   ]
 [  1.    126.     60.    ...   0.349  47.      1.   ]
 [  1.     93.     70.    ...   0.315  23.      0.   ]]

In [19]:
nn = rd['Glucose']
print(nn)

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

In [20]:
print(rd.loc[1])
print(nn.values)

Pregnancies                  1.000
Glucose                     85.000
BloodPressure               66.000
SkinThickness               29.000
Insulin                      0.000
BMI                         26.600
DiabetesPedigreeFunction     0.351
Age                         31.000
Outcome                      0.000
Name: 1, dtype: float64
[148  85 183  89 137 116  78 115 197 125 110 168 139 189 166 100 118 107
 103 115 126  99 196 119 143 125 147  97 145 117 109 158  88  92 122 103
 138 102  90 111 180 133 106 171 159 180 146  71 103 105 103 101  88 176
 150  73 187 100 146 105  84 133  44 141 114  99 109 109  95 146 100 139
 126 129  79   0  62  95 131 112 113  74  83 101 137 110 106 100 136 107
  80 123  81 134 142 144  92  71  93 122 163 151 125  81  85 126  96 144
  83  95 171 155  89  76 160 146 124  78  97  99 162 111 107 132 113  88
 120 118 117 105 173 122 170  84  96 125 100  93 129 105 128 106 108 108
 154 102  57 106 147  90 136 114 156 153 188 152  99 109  88 163 151 102
 114 100 131 104 148 120 110 111 102 134  87  79  75 179  85 129 143 130
  87 119   0  73 141 194 181 128 109 139 111 123 159 135  85 158 105 107
 109 148 113 138 108  99 103 111 196 162  96 184  81 147 179 140 112 151
 109 125  85 112 177 158 119 142 100  87 101 162 197 117 142 134  79 122
  74 171 181 179 164 104  91  91 139 119 146 184 122 165 124 111 106 129
  90  86  92 113 111 114 193 155 191 141  95 142 123  96 138 128 102 146
 101 108 122  71 106 100 106 104 114 108 146 129 133 161 108 136 155 119
  96 108  78 107 128 128 161 151 146 126 100 112 167 144  77 115 150 120
 161 137 128 124  80 106 155 113 109 112  99 182 115 194 129 112 124 152
 112 157 122 179 102 105 118  87 180 106  95 165 117 115 152 178 130  95
   0 122  95 126 139 116  99   0  92 137  61  90  90 165 125 129  88 196
 189 158 103 146 147  99 124 101  81 133 173 118  84 105 122 140  98  87
 156  93 107 105 109  90 125 119 116 105 144 100 100 166 131 116 158 127
  96 131  82 193  95 137 136  72 168 123 115 101 197 172 102 112 143 143
 138 173  97 144  83 129 119  94 102 115 151 184  94 181 135  95  99  89
  80 139  90 141 140 147  97 107 189  83 117 108 117 180 100  95 104 120
  82 134  91 119 100 175 135  86 148 134 120  71  74  88 115 124  74  97
 120 154 144 137 119 136 114 137 105 114 126 132 158 123  85  84 145 135
 139 173  99 194  83  89  99 125  80 166 110  81 195 154 117  84   0  94
  96  75 180 130  84 120  84 139  91  91  99 163 145 125  76 129  68 124
 114 130 125  87  97 116 117 111 122 107  86  91  77 132 105  57 127 129
 100 128  90  84  88 186 187 131 164 189 116  84 114  88  84 124  97 110
 103  85 125 198  87  99  91  95  99  92 154 121  78 130 111  98 143 119
 108 118 133 197 151 109 121 100 124  93 143 103 176  73 111 112 132  82
 123 188  67  89 173 109 108  96 124 150 183 124 181  92 152 111 106 174
 168 105 138 106 117  68 112 119 112  92 183  94 108  90 125 132 128  94
 114 102 111 128  92 104 104  94  97 100 102 128 147  90 103 157 167 179
 136 107  91 117 123 120 106 155 101 120 127  80 162 199 167 145 115 112
 145 111  98 154 165  99  68 123  91 195 156  93 121 101  56 162  95 125
 136 129 130 107 140 144 107 158 121 129  90 142 169  99 127 118 122 125
 168 129 110  80 115 127 164  93 158 126 129 134 102 187 173  94 108  97
  83 114 149 117 111 112 116 141 175  92 130 120 174 106 105  95 126  65
  99 102 120 102 109 140 153 100 147  81 187 162 136 121 108 181 154 128
 137 123 106 190  88 170  89 101 122 121 126  93]

In [21]:
gh=pd.read_csv (r"/content/diabetes.csv",index_col='Glucose')
print(gh)

         Pregnancies  BloodPressure  SkinThickness  Insulin   BMI  \
Glucose
148                6             72             35        0  33.6
85                 1             66             29        0  26.6
183                8             64              0        0  23.3
89                 1             66             23       94  28.1
137                0             40             35      168  43.1
...              ...            ...            ...      ...   ...
101               10             76             48      180  32.9
122                2             70             27        0  36.8
121                5             72             23      112  26.2
126                1             60              0        0  30.1
93                 1             70             31        0  30.4

         DiabetesPedigreeFunction  Age  Outcome
Glucose
148                         0.627   50        1
85                          0.351   31        0
183                         0.672   32        1
89                          0.167   21        0
137                         2.288   33        1
...                           ...  ...      ...
101                         0.171   63        0
122                         0.340   27        0
121                         0.245   30        0
126                         0.349   47        1
93                          0.315   23        0

[768 rows x 8 columns]

In [22]:
k=rd['Glucose'].values
print(k)

[148  85 183  89 137 116  78 115 197 125 110 168 139 189 166 100 118 107
 103 115 126  99 196 119 143 125 147  97 145 117 109 158  88  92 122 103
 138 102  90 111 180 133 106 171 159 180 146  71 103 105 103 101  88 176
 150  73 187 100 146 105  84 133  44 141 114  99 109 109  95 146 100 139
 126 129  79   0  62  95 131 112 113  74  83 101 137 110 106 100 136 107
  80 123  81 134 142 144  92  71  93 122 163 151 125  81  85 126  96 144
  83  95 171 155  89  76 160 146 124  78  97  99 162 111 107 132 113  88
 120 118 117 105 173 122 170  84  96 125 100  93 129 105 128 106 108 108
 154 102  57 106 147  90 136 114 156 153 188 152  99 109  88 163 151 102
 114 100 131 104 148 120 110 111 102 134  87  79  75 179  85 129 143 130
  87 119   0  73 141 194 181 128 109 139 111 123 159 135  85 158 105 107
 109 148 113 138 108  99 103 111 196 162  96 184  81 147 179 140 112 151
 109 125  85 112 177 158 119 142 100  87 101 162 197 117 142 134  79 122
  74 171 181 179 164 104  91  91 139 119 146 184 122 165 124 111 106 129
  90  86  92 113 111 114 193 155 191 141  95 142 123  96 138 128 102 146
 101 108 122  71 106 100 106 104 114 108 146 129 133 161 108 136 155 119
  96 108  78 107 128 128 161 151 146 126 100 112 167 144  77 115 150 120
 161 137 128 124  80 106 155 113 109 112  99 182 115 194 129 112 124 152
 112 157 122 179 102 105 118  87 180 106  95 165 117 115 152 178 130  95
   0 122  95 126 139 116  99   0  92 137  61  90  90 165 125 129  88 196
 189 158 103 146 147  99 124 101  81 133 173 118  84 105 122 140  98  87
 156  93 107 105 109  90 125 119 116 105 144 100 100 166 131 116 158 127
  96 131  82 193  95 137 136  72 168 123 115 101 197 172 102 112 143 143
 138 173  97 144  83 129 119  94 102 115 151 184  94 181 135  95  99  89
  80 139  90 141 140 147  97 107 189  83 117 108 117 180 100  95 104 120
  82 134  91 119 100 175 135  86 148 134 120  71  74  88 115 124  74  97
 120 154 144 137 119 136 114 137 105 114 126 132 158 123  85  84 145 135
 139 173  99 194  83  89  99 125  80 166 110  81 195 154 117  84   0  94
  96  75 180 130  84 120  84 139  91  91  99 163 145 125  76 129  68 124
 114 130 125  87  97 116 117 111 122 107  86  91  77 132 105  57 127 129
 100 128  90  84  88 186 187 131 164 189 116  84 114  88  84 124  97 110
 103  85 125 198  87  99  91  95  99  92 154 121  78 130 111  98 143 119
 108 118 133 197 151 109 121 100 124  93 143 103 176  73 111 112 132  82
 123 188  67  89 173 109 108  96 124 150 183 124 181  92 152 111 106 174
 168 105 138 106 117  68 112 119 112  92 183  94 108  90 125 132 128  94
 114 102 111 128  92 104 104  94  97 100 102 128 147  90 103 157 167 179
 136 107  91 117 123 120 106 155 101 120 127  80 162 199 167 145 115 112
 145 111  98 154 165  99  68 123  91 195 156  93 121 101  56 162  95 125
 136 129 130 107 140 144 107 158 121 129  90 142 169  99 127 118 122 125
 168 129 110  80 115 127 164  93 158 126 129 134 102 187 173  94 108  97
  83 114 149 117 111 112 116 141 175  92 130 120 174 106 105  95 126  65
  99 102 120 102 109 140 153 100 147  81 187 162 136 121 108 181 154 128
 137 123 106 190  88 170  89 101 122 121 126  93]

In [23]:
ni = pd.read_csv(r"/content/diabetes.csv")
print(ni)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [24]:
nit = ni.drop(['Outcome'],axis=1)
print(nit)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [25]:
col=['names', 'num', 'depart', '1', '2', '3', '4', '5', '6']
ni.columns=col
print(ni)

     names  num  depart   1    2     3      4   5  6
0        6  148      72  35    0  33.6  0.627  50  1
1        1   85      66  29    0  26.6  0.351  31  0
2        8  183      64   0    0  23.3  0.672  32  1
3        1   89      66  23   94  28.1  0.167  21  0
4        0  137      40  35  168  43.1  2.288  33  1
..     ...  ...     ...  ..  ...   ...    ...  .. ..
763     10  101      76  48  180  32.9  0.171  63  0
764      2  122      70  27    0  36.8  0.340  27  0
765      5  121      72  23  112  26.2  0.245  30  0
766      1  126      60   0    0  30.1  0.349  47  1
767      1   93      70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [26]:
mn=ni.sort_values(by='num', ascending=True)
print(mn)

     names  num  depart   1    2     3      4   5  6
75       1    0      48  20    0  24.7  0.140  22  0
502      6    0      68  41    0  39.0  0.727  41  1
349      5    0      80  32    0  41.0  0.346  37  1
342      1    0      68  35    0  32.0  0.389  22  0
182      1    0      74  20   23  27.7  0.299  21  0
..     ...  ...     ...  ..  ...   ...    ...  .. ..
228      4  197      70  39  744  36.7  2.329  31  0
408      8  197      74   0    0  25.9  1.191  39  1
8        2  197      70  45  543  30.5  0.158  53  1
561      0  198      66  32  274  41.3  0.502  28  1
661      1  199      76  43    0  42.9  1.394  22  1

[768 rows x 9 columns]

MATPLOTLIB